* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body */

body{
    font-family: 'Nunito';
    font-weight: 400;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

/* fine body */


/* header */

h1{
    color: #e53170;
    padding-top: 30px;
    padding-bottom: 40px;
    font-weight: 900;
    font-size: 38px;
    text-align: center;
}

/* fine header */

/* main */

/* div */

div{
    margin: 0;
}

p:first-child{
    padding-bottom: 30px;
    font-weight: 400;
    text-align: center;
}


.clear::after{
    content: '';
    display: block;
    clear: both;
}

.profile{
    background-color: rgb(0, 0, 0);
    color: white;
    margin-left: 30px;
    margin-top: 30px;
    width: calc(100% / 3 - 30px);
    box-shadow: 3px 3px 7px 3px #afb0ae;
    float: left;
}

img{
    float: left;
    width: 120px;
    height: 120px;
}

h2{
    padding-top: 10px;
}

.profile p{
    padding-top: 10px;
    line-height:30px;

}

.email{
    color: #12c0f3;
}

div h2,.email{
    display: inline-block;
}

div h2,p{
    padding-left: 10px;
}

p{
    padding-left: 130px;
}
/* fine main */