* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body */

body{
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
}

/* fine body */


/* header */

h1{
    color: #e53170;
    padding-bottom: 40px;
    font-weight: 900;
}

/* fine header */

/* main */

/* div */

div{
    margin: 0;
}

/* fine div */


section{
    display: inline-block;
}

/* section:nth-child(2){
    width: calc(100% / 3);
} */

p:first-child{
    padding-bottom: 30px;
}


.clear::after{
    content: '';
    display: block;
    clear: both;
}

.profile{
    display: inline-block;
    background-color: rgb(0, 0, 0);
    color: white;
    margin-left: 30px;
    margin-top: 30px;
    width: 420px;
    box-shadow: 3px 3px 7px 3px #afb0ae;
}

img{
    float: left;
    width: 120px;
    height: 120px;
}

p{
    text-decoration: none;
}

.profile p{
    display: inline-block;
}

.email{
    color: #12c0f3;
}

div h2,.email{
    display: inline-block;
}

div h2,p{
    padding-left: 10px;
}
/* fine main */